

h1, h2, h3  {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}
h3 {
    font-size: 1.5em;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.0 em;
}

img {
    width: 100%;
    height: 100%;
    padding: 0;
    background-size: cover;
}
.user {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  }
  
    .user:last-child {
    margin-bottom: 0;
  }
  
.avatar {
    flex: 0 0 96px;
    width: 400px;
    margin: 0;
  }
  
  .description {
    flex: 1;
    margin-left: 18px;
    padding: 12px;
  }
  
  .username {
    margin: 0 0 10px 0;
    padding: 0;
  }
  
  .excerpt {
    margin: 0;
  }

  .masthead {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background: url(../pages/photos/beach.jpeg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }